@charset "utf-8";
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* body */
.all_content{
  background:#ECF1F6;
}
ul,
li{
  list-style:none;
}

.login-s{
  position: relative;
}
.login-img {
  position: absolute;
  top: 72px;
  left: 44%;
}

.login-img img{
  height: 40px;
}

/* サイドバー */
.main-container{
  width: 100%;
}
.sidebar{
  width:150px;
  height:134vh;
  background-color:#03AAD2;
  font-weight:bold;
}
.main-container{
  width:100%;
}
.sidebar p a{
  color:#FFF;
}

.sidebar p {
  padding: 12px 0 12px 0;
  margin: 2px 0 2px -3px;
}

.sidebar p:hover {
  background-color: rgba(12, 12, 12, 0.2);
  transition: 0.3s;
  padding-left: 5px;
}

.sidebar p a:hover {
  text-decoration: none;
  color: #ddd;
}

/* トップページ */
.user_status{
  border-radius:10px;
  background:#FFF;
}

/* スクール予約関連 */
.day-blank{
  background:#D3D3D3;
}
.day-sat{
  color:#0000FF;
}
.day-sun{
  color:#FF0000;
}
.past-day{
  /* background:#EEE; */
  background:#e8e6e6;
}
.calendar-td{
  min-width:100px;
}
.day_part{
  color:#494949;
  font-size:12px;
}
.adjust-table{
  width:70% !important;
}
.adjust-table td{
  padding:0 !important;
}
.adjust-area p{
  justify-content: space-around;
}
.adjust-table-btn{
  width:70%;
}

.reserve-d:nth-child(even){
  background: #b1f3ff;
}

/* モーダル */
.modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}
.modal__bg{
    background: rgba(0,0,0,0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}
.modal__content{
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
}

.modal-box{
  margin-top: 5px;
}

/* 掲示板 */
.sub_categories{
  display:none;
}

.post-create a{
  margin: auto;
}
.post_create_area{
  background:#FFF;
  border-radius:10px;
}
.post_create_area textarea{
  resize:none;
  height:300px;
  white-space: pre-wrap;
}
.detail_container{
  background:#FFF;
}
.post_area{
  background:#FFF;
  border-radius:10px;
}
.post_bottom_area{
  justify-content: space-between;
}

.post-cl-btn{
  margin-left: 70%;
}


.category_pt {
  font-size: 9px;
  font-weight: bold;
  padding: 4px 10px;
  background-color: #03AAD2;
  color: #fff;
  width: fit-content;
  border-radius: 20px;
  z-index: 1;
}

.like_btn,
.un_like_btn{
  cursor:pointer;
  color: #ccc;
}
.un_like,
.un_like_btn{
  color:#E2254D;
}
.error_message{
  font-size:12px;
  color:red;
}

/* 掲示板 詳細画面 */
.detail_container{
  border-radius: 10px;
}


.contributor{
  font-size:12px;
  color:#999;
  font-weight:bold;
}

.detsail_post_title{
  font-size:14px;
}
.detsail_post{
  font-size:12px;
  color:#9E9E9E;
}
.detail_inner_head{
  display:flex;
  justify-content: space-between;
}
.edit-modal-open{
  cursor:pointer;
}
.modal-inner-body textarea{
  height:150px;
  resize:none;
}
.edit-modal-btn{
  justify-content: space-between;
}
/* 掲示板 コメント */
.comment-text{
  outline: solid 1px rgb(109, 109, 109);
}

.comment_container{
  background:#FFF;
}

.comment_area p,
.comment_area input{
  font-size:12px;
  font-weight:bold;
}

.comment_area input{ 
    float: right;
    /* position: absolute;
    top: 80%;
    right: 9%; */
}

.comment_area textarea{
  height:300px;
  resize:none;
}
.comment_container span{
  font-size:12px;
}
.post_status span{
  font-size:12px;
}
/* 掲示板　検索 */
.other_area {
  padding-top: 50px;
}

.post-create {
  background: linear-gradient(to left, #0a99ca, #00b4db);
  opacity: 0.75;
  border-radius: 5px;
  height: 6vh;
  text-align: center;
  padding: 5px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.post-create a:hover {
  text-decoration: none;
}

.post-create:hover {
  opacity: 1;
}

.word-search {
  margin-bottom: 30px;
  display: flex;
}

.keyword_search {
  width: 50px;
}

.btn-search{
  background: linear-gradient(to left, #0a99ca, #00b4db);
  color: #D3D3D3;
  border-radius: 0px 5px 5px 0px;
}



/* 掲示板　カテゴリー */
.create-box{
  padding: 30px 20px;
}

.category_like {
  background: linear-gradient(to left, #d94c7a, #e17397);
}

.category_mine {
  background: linear-gradient(to left, #e1951a, #eeb12e);
}

.category_area{
  background:#FFF;
  border-radius:10px;
}
.category_box{
  border-radius:5px;
  padding:3px;
  /* background:#999; */
  font-size:10px;
  color:#FFF;
}
.category_btn{
  width: 100%;
  font-size:12px;
  border-radius:5px;
  padding:0 5px;
  border:none;
  /* background:#999; */
  color:#FFF;
  transition: 0.2s;
  opacity: 0.75;
}

.category_lm {
  display: flex;
  height: 4vh;
}

.main_categories span,
.sub_categories li input{
  list-style:none;
  cursor:pointer;
}
/* アコーディオンメニュー */
.accordion-container {
  position: relative;
  width: 100%;
  cursor: pointer;
}

.accordion-container .accordion-title {
  margin: 0;
  padding: 1em 0.5em;
  cursor: pointer;
}

.accordion-title {
  position: relative;
  /* color: #5e5d5d; */
  font-weight: bold;
  font-size: 15px;
    /* font-family: none; */
    font-weight: 540;
}

.accordion-title:after {
  content: "";
  position: absolute;
  right: 25px;
  top: 38%;
  transition: all 0.2s ease-in-out;
  display: block;
  width: 8px;
  height: 8px;
  border-top: solid 2px #999;
  border-right: solid 2px #999;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.accordion-title.open:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 45%;
}

.accordion-content {
  display: none;
  padding-left: 0.5em;
}

.accordion-content input {
  color:inherit;
  display: block;
  /* color: #1d68a7; */
  font-size: 0.9em;
  text-decoration:underline;
  text-decoration-color: rgb(77, 77, 77);
}

.accordion-content input:hover {
  cursor: pointer;
  color: #ffabce;
}


/* ユーザー検索 */
.reserve_users_area{
  display:flex;
  flex-wrap:wrap;
  width:800px;
  margin:10px auto;
  height:80vh;
  overflow: scroll;
  padding:10px;
  /* background:#FFF; */
  border-radius:5px;
}
.one_person{
  width: 25%;
}

.reserve_users_area span{
  font-size:10px;
  padding-left: 5px;
  font-weight: 600;
}
.one_person{
  /* width:250px; */
  /* height:250px; */
  height: 47%;
  width: 23%;
  background-color: #FFF;
  border-radius: 5px;
  margin: 5px;
}

.search_area{
  padding: 40px 20px;
}

.user-search{
  height: 45px;
}

.search_area label {
  color: #2c5273;
  font-size: small;
}

.search-form input,
.search_inner select {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: auto;
    height: 30px;
    min-width: 90px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    margin-bottom: 0px;
    padding: 0px 12px;
    cursor: pointer;
    border: none;
    max-width: 100%;
}

.search_conditions span{
  cursor:pointer;
  color: #2c5273;
}
.search_conditions::after{
    content: "";
    position: absolute;
    right: 5px;
    top: 335px;
    transition: all 0.2s ease-in-out;
    display: block;
    width: 8px;
    height: 8px;
    border-top: solid 2px #999;
    border-right: solid 2px #999;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.search_conditions.open:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 339px;
}

.search_conditions_inner{
  display:none;
  /* background:#FFF; */
  margin-top: 10px;
}
.search-sex span{
  margin-left: 5px;

}

.selected_engineer ul{
  display: flex;
}

.subject_edit_btn{
  font-size:12px;
  color:#00d9ff;
  cursor:pointer;
}

.subject_edit_btn:after{
  content: "";
    position: absolute;
    left: 32vw;
    top: 281px;
    transition: all 0.2s ease-in-out;
    display: block;
    width: 7px;
    height: 7px;
    border-top: solid 2px #6be0f4;
    border-right: solid 2px #6be0f4;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.subject_edit_btn.open::after{
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 283px;
}

.subject_inner{
  display:none;
}
.subject_inner form{
  display:flex;
}
/* .subject_inner input{
  margin-left: 5px;
} */

.search-reset {
  border-radius: 3px;
  padding: 3px;
  margin-left: 2px;
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
  color:#00b4db;
  margin-left: 35%;
}
.search-reset:hover {
  color: #90bfbf;
}

.btn-search{
  width: 100%;
}

